<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>app.log.%d{yyyyMMdd}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<file>log/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>error.log.%d{yyyyMMdd}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<logger level="debug" name="net.meiteampower" additivity="false">
		<appender-ref ref="app" />
	</logger>
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>